@charset "utf-8";

*,
*:before,
*:after {
	-webkit-box-sizing:inherit;
	box-sizing:inherit;
}
html,
body {
	min-height:100%;
}
html {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	background-color:#cdcdcd;
	font-family:Verdana;
	margin:0;
}
